{
    "extends": "airbnb-base",
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": 0,
        "global-require": 0,
        "indent": [
            "error",
            4
        ],
        "import/prefer-default-export": [
            "off",
            {
                "target": "any"
            }
        ],
        "import/first": "off",
        "consistent-return": "off",
        "import/order": "off",
        "eslint linebreak-style": [
            0,
            "error",
            "windows"
        ]
    }
}