.breadcrumbs {
	padding-top: 40px;
	padding-bottom: 17px;

	&--grey {
		background-color: $grey-400;
	}

	&__items {
		display: flex;
		align-items: center;
		padding-bottom: 8px;
		overflow-x: auto;
		font-weight: $fw-500;
		line-height: 1.3;
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			margin-right: 4px;
			padding-right: 28px;

			&::before {
				@include icon;
				top: 50%;
				right: 0;
				left: unset;
				background-image: url('../img/icons/arrow.svg');
				transform: translateY(-50%) rotate(-90deg);
				filter: invert(44%) sepia(71%) saturate(2057%) hue-rotate(355deg)
					brightness(98%) contrast(87%);
			}
		}
	}

	&__link {
		display: block;
		white-space: nowrap;
		transition: color 0.4s, box-shadow 0.4s, transform 0.4s, opacity 0.4s;

		&--current {
			color: $grey-700;
			pointer-events: none;
		}

		&:focus {
			outline: 0;
			box-shadow: 0 0 0 1px $orange-500;
		}

		&:hover {
			color: $orange-500;
		}

		&:active {
			color: $grey-700;
		}
	}
}