.social {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__link {
		@include bg-conatin;
		display: block;
		width: 28px;
		height: 28px;
        transition: box-shadow 0.4s, opacity 0.4s, transform 0.4s;

        &:focus {
            box-shadow: 0 0 0 1px $orange-500;
        }

        &:hover {
            transform: scale(0.9);
        }

        &:active {
            opacity: 0.7;
        }
	}
}
