.brand-catalog {
	background-color: $grey-400;
    @include adaptiv-value('padding-top', 100, 70, 1);
	@include adaptiv-value('padding-bottom', 100, 70, 1);

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
