.video {
    @include adaptiv-value('padding-bottom', 60, 40, 1);

    &__container {
        overflow: hidden;
        
        @include mq(md) {
            padding: 0;
        }
    }

	&__link {
		@include bg-cover;
		@include flex-all-center;
		height: 45vh;
        min-height: 250px;
        border: 2px solid transparent;
        transition: transform 0.4s, border-color 0.4s, opacity 0.4s;

        &:focus {
            border-color: $orange-500;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            opacity: 0.8;
        }
	}

	&__play {
		position: relative;
		width: 54px;
		height: 48px;
		background-color: $orange-500;
		transform: skew(-12deg);

		&::before {
			@include icon;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/play.svg');
			transform: translate(-50%, -50%);
		}
	}
}
