<header class="header">
    <div class="overlay" data-menu-overlay></div>
    <div class="container">
        <nav class="header__navigation">
            <div class="header__top">
                <div class="header__menu">
                    <a class="header__logo logo" href="#">
                        <picture>
                           <source srcset="img/logo.avif" type="image/avif">
                           <source srcset="img/logo.webp" type="image/webp">
                           <img class="logo__img" src="img/logo.png" alt="Логотип" width="205" height="25" loading="lazy">
                        </picture>
                    </a>
                    <div class="header-menu">
                        <ul class="header-menu__items">
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="#">
                                    О нас
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="#">
                                    Контакты
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="#">
                                    Диллеры
                                </a>
                            </li>
                            <li class="header-menu__item">
                                <a class="header-menu__link" href="#">
                                    Бренды
                                </a>
                            </li>
                        </ul>
                        <a class="header-menu__download" href="#" data-graph-path="modal-authorization" download>
                            Прайс-лист
                        </a>
                    </div>
                </div>
                <div class="header__contacts">
                    <a class="header__contact header__contact--watsapp" href="#">
                        WhatsApp
                    </a>
                    <a class="header__contact header__contact--phone" href="tel:+88002007093">
                        8 (800) 200-70-93
                    </a>
                </div>
                <button class="burger-button" type="button" aria-expanded="false" aria-controls="burger-menu" aria-label="открыть меню" data-burger>
                   <span class="burger-button__line" aria-hidden="true"></span>
                </button>
            </div>
            <div class="header__bottom">
                <ul class="header-catalog">
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#">
                            Кронштейны
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#">
                            Сопутствующие товары
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#">
                            Камеры
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#">
                            Оптические приборы
                        </a>
                    </li>
                </ul>
                <div class="header__user">
                    <form class="header__search form-search" action="#" role="search">
                        <div class="form-search__content">
                            <label class="sr-only" for="search">Поиск</label>
                            <input class="form-search__field" name="search" type="search" placeholder="Поиск" id="search" required>
                        </div>
                    </form>
                    <button class="header__account" type="button" data-graph-path="modal-login">
                        Войти
                    </button>
                </div>
            </div>
            <div class="burger-menu" id="burger-menu" data-menu>
                <div class="header-menu">
                    <ul class="header-menu__items">
                        <li class="header-menu__item">
                            <a class="header-menu__link" href="#" data-menu-link>
                                О нас
                            </a>
                        </li>
                        <li class="header-menu__item">
                            <a class="header-menu__link" href="#" data-menu-link>
                                Контакты
                            </a>
                        </li>
                        <li class="header-menu__item">
                            <a class="header-menu__link" href="#" data-menu-link>
                                Диллеры
                            </a>
                        </li>
                        <li class="header-menu__item">
                            <a class="header-menu__link" href="#" data-menu-link>
                                Бренды
                            </a>
                        </li>
                    </ul>
                    <a class="header-menu__download" href="#" download>
                        Прайс-лист
                    </a>
                </div>
                <ul class="header-catalog">
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#" data-menu-link>
                            Кронштейны
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#" data-menu-link>
                            Сопутствующие товары
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#" data-menu-link>
                            Камеры
                        </a>
                    </li>
                    <li class="header-catalog__item">
                        <a class="header-catalog__link" href="#" data-menu-link>
                            Оптические приборы
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>