.category {
	padding: 20px 16px;

	&__title {
		display: block;
		margin-bottom: 12px;
		font-weight: $fw-600;
		@include adaptiv-value('font-size', 22, 19, 1);
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__link {
		color: $dark-600;
		transition: color 0.4s, box-shadow 0.4s, transform 0.4s, opacity 0.4s;

		&--current {
			color: $dark-800;
		}

		&:focus {
            outline: 0;
			box-shadow: 0 0 0 1px $orange-500;
		}

		&:hover {
			color: $orange-500;
		}

		&:active {
			color: $grey-700;
		}
	}
}
