.category {
	padding: 20px 16px;

	&__title {
		display: block;
		margin-bottom: 12px;
		font-weight: $fw-600;
		@include adaptiv-value('font-size', 22, 19, 1);
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__link {
		color: $dark-600;

		&--current {
			color: $dark-800;
		}
	}
}