.filter {
	&--close {
		.filter__toggle {
			&::before {
				transform: translate(50%, -50%) rotate(180deg);
			}
		}

		.filter__box {
			display: none;
		}
	}

	&__top {
		@include flex-center-sb;
	}

	&__title {
		margin-right: 10px;
		font-weight: $fw-600;
		line-height: 1.3;
		@include adaptiv-value('font-size', 22, 19, 1);
	}

	&__toggle {
		position: relative;
		width: 28px;
		height: 28px;

		&::before {
			@include icon;
			top: 50%;
			right: 50%;
			left: unset;
			background-image: url('../img/icons/arrow.svg');
			transform: translate(50%, -50%);
			filter: invert(44%) sepia(71%) saturate(2057%) hue-rotate(355deg)
				brightness(98%) contrast(87%);
			transition: transform 0.4s;
		}
	}

	&__items {
		padding-top: 12px;
	}

	&__item {
		margin-bottom: 12px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);

		&:checked + .filter__visible {
			&--radio {
				&::before {
					background-color: $orange-500;
				}
			}

			&--checkbox {
				background-color: $orange-500;

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__visible {
		position: relative;
		width: 16px;
		height: 16px;
		margin-right: 6px;
		border: 1.5px solid $orange-500;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: '';
		}

		&--radio {
			border-radius: 50%;

			&::before {
				width: 10px;
				height: 10px;
				background-color: transparent;
				border-radius: 50%;
				transition: background-color 0.4s;
			}
		}

		&--checkbox {
			background-color: transparent;

			&::before {
				@include bg-conatin;
				width: 12px;
				height: 12px;
				background-image: url('../img/icons/checkbox-arrow.svg');
				opacity: 0;
				transition: opacity 0.4s;
			}
		}
	}
}
