.header-menu {
	display: flex;
	align-items: center;
	@include adaptiv-value('margin-right', 20, 16, 1);

	@include mq(xl) {
		position: relative;
		display: none;
		justify-content: flex-end;
		margin-right: 0;
		margin-bottom: 24px;
		padding-bottom: 24px;
	}

	&::before {
		display: none;
		@include line;
		background-color: $dark-700;

		@include mq(xl) {
			display: block;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		@include adaptiv-value('margin-right', 30, 20, 1);

		@include mq(xl) {
			flex-direction: column;
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__item {
		&:not(:last-child) {
			@include adaptiv-value('margin-right', 20, 16, 1);

			@include mq(xl) {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}

		@include mq(xl) {
			width: 100%;
		}
	}

	&__link {
		@include link;

		@include mq(xl) {
			display: block;
			text-align: right;
		}
	}

	&__download {
		position: relative;
		z-index: 2;
		padding: 6px 12px;
		white-space: nowrap;
		text-align: center;
		box-shadow: 0 0 0 1px $orange-500;
		@include flex-all-center;

		@include mq(xl) {
			margin-left: auto;
		}

		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: 0;
			height: 100%;
			background-color: $orange-500;
			transition: width 0.4s;
			content: '';
		}

		&:focus {
			outline: 0;
			box-shadow: 0 0 0 1px $white;
		}

		&:focus,
		&:hover {
			&::before {
				width: 100%;
			}
		}

        &:hover {
            box-shadow: 0;
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
