.burger-button {
	@include burger;
	display: none;

	@include mq(xl) {
		display: flex;
	}

    &--active {
        z-index: 10;
    }
}

.burger-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	width: 100%;
	max-width: 360px;
	height: 100%;
	padding: 80px 20px 20px;
	overflow-y: scroll;
    z-index: 5;
	background-color: $dark-800;

	&--active {
		display: block;

		.header-menu,
		.header-catalog {
			display: flex;
			flex-direction: column;
		}
	}
}
