.burger-button {
	@include burger;
	display: none;

	@include mq(xl) {
		display: flex;
	}

	&--active {
		z-index: 10;
	}
}

.burger-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: none;
	width: 100%;
	max-width: 360px;
	height: 100%;
	padding: 80px 20px 20px;
	overflow-y: auto;
	background-color: $dark-800;

    @include mq(xs) {
        max-width: 100%;
    }

	&--active {
		display: block;

		.header-menu,
		.header-catalog {
			display: flex;
			flex-direction: column;
		}
	}

	&__content {
		height: 100%;
		padding-right: 12px;
		overflow-y: auto;
	}
}
