.brands {
	&__top {
		@include flex-center-sb;
		@include adaptiv-value('margin-bottom', 40, 32, 1);
	}

	&__title {
		margin-right: 20px;
		margin-bottom: 0;
	}

	&__more {
		position: relative;
		padding-right: 28px;
		color: $orange-500;
		font-size: 16px;
		font-family: $futura;
		line-height: 1.3;
		text-transform: uppercase;

		&::before {
			@include icon;
			top: 4px;
			right: 0;
			left: unset;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/arrow.svg');
			transform: rotate(-90deg);
			filter: invert(42%) sepia(100%) saturate(752%) hue-rotate(350deg)
				brightness(95%) contrast(93%);
		}
	}

	&__box {
		position: relative;
		&::before,
		&::after {
			@include line;
			background-color: $grey-400;
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 16px;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		padding-bottom: 16px;

		@include mq(lg) {
			overflow: auto;
		}
	}

	&__item {
		@include adaptiv-value('padding', 18, 8, 1);

		&:not(:last-child) {
			position: relative;
			@include adaptiv-value('margin-right', 20, 10, 1);

			&::before {
				@include line;
				top: 0;
				@include adaptiv-value('right', -10, -6, 1);
				width: 2px;
				height: 100%;
				background-color: $grey-400;
				transform: rotate(16deg);
			}
		}
	}

	&__link {
		display: block;
		width: 100%;
		max-width: 164px;
		height: 54px;

		@include mq(lg) {
			width: 120px;
			height: 40px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
