.top-slider {
	&__item {
		position: relative;
		width: 100%;
		max-width: 1300px;
		padding-bottom: 20%;

		@include mq(md) {
			padding-bottom: 30%;
		}
	}

	&__link {
        @include resize-img;
        display: block;
	}
}
