.brands-page {
	@include adaptiv-value('padding-bottom', 100, 70, 1);

	&__content {
		margin-right: -20px;
		padding-right: 20px;
	}

	&__items {
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

		@include mq(lg) {
			grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
		}

		@include mq(md) {
			grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
		}

		&::before {
			@include line;
			top: 0;
			left: 0;
			background-color: $grey-400;
		}

		&::after {
			@include line;
			top: 0;
			right: 0;
			width: 2px;
			height: 100%;
			background-color: $white;
		}
	}

	&__item {
		position: relative;
		padding: 17px 10px;
		border: 2px solid $grey-400;
		border-top-width: 0;
		border-left-width: 0;

		@include mq(md) {
			padding: 10px 5px;
		}
	}

	.brand-card {
		// max-width: 238px;
		// height: 78px;
		margin: 0 auto;
	}
}
