.catalog {
	background-color: $grey-400;
	@include adaptiv-value('padding-bottom', 100, 70, 1);

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__products {
		width: 100%;
	}

	&__top {
		@include flex-center-sb;
		margin-bottom: 24px;
	}

	&__download {
		position: relative;
		max-width: fit-content;
		margin-right: 12px;
		padding: 12px 56px 12px 24px;
		font-weight: 400;
		border: 1px solid $orange-500;
		border-width: 1px;
		@include flex-all-center;
		transition: color 0.4s, background-color 0.4s, border-color 0.4s,
			transform 0.4s;

		&::before {
			@include icon;
			top: 50%;
			right: 24px;
			left: unset;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/download.svg');
			transform: translateY(-50%);
		}

		&:focus {
			background-color: $dark-800;
		}

		&:hover {
			color: $white;
			background-color: $dark-800;
			border-color: transparent;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__filters {
		position: relative;
		display: none;
		width: 44px;
		height: 44px;
		margin-left: auto;

		&--active {
			z-index: 10;
		}

		&::before {
			@include icon;
			top: 50%;
			left: 50%;
			background-image: url('../img/icons/filter.svg');
			transform: translate(-50%, -50%);
		}

		@include mq(lg) {
			display: flex;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 20px;
		@include adaptiv-value('margin-bottom', 40, 28, 1);
	}
}
