.catalog {
	background-color: $grey-400;
	@include adaptiv-value('padding-bottom', 100, 70, 1);

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__products {
		width: 100%;
	}

	&__top {
		@include flex-center-sb;

		@include mq(lg) {
			margin-bottom: 24px;
		}

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__download {
		position: relative;
		max-width: fit-content;
		margin-right: 12px;
		margin-bottom: 24px;
		padding: 12px 24px;
		font-weight: 400;
		border: 1px solid $orange-500;
		border-width: 1px;
		transition: color 0.4s, background-color 0.4s, border-color 0.4s,
			transform 0.4s;
		@include flex-all-center;

		@include mq(lg) {
			margin-bottom: 0;
		}

		@include mq(sm) {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 16px;
		}

		&:focus {
			background-color: $dark-800;
		}

		&:hover {
			color: $white;
			background-color: $dark-800;
			border-color: transparent;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__filters {
		position: relative;
		display: none;
		margin-left: auto;
		padding: 12px 24px;
		border: 1px solid $orange-500;

		@include mq(lg) {
			display: flex;
			@include flex-all-center;
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	&__icon {
		position: relative;
		padding-left: 34px;

		&::before {
			@include icon;
			top: 50%;
			transform: translateY(-50%);
		}

		&--filter {
			&::before {
				background-image: url('../img/icons/filter.svg');
			}
		}

		&--download {
			&::before {
				background-image: url('../img/icons/download.svg');
			}
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 20px;
		@include adaptiv-value('margin-bottom', 40, 28, 1);
	}
}
