/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #100d08;
$dark-700: #232323;
$dark-600: #48443f;
$dark-400: #4a4948;

$orange-500: #eb6a19;

$grey-700: #8b8282;
$grey-500: #d0d0d0;
$grey-400: #f1f1f1;

$green-400: #1faf43;

$red-500: #d04a2f;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$roboto: 'Roboto';
$futura: 'Futura New';
